h1           { color: rgb(51, 0, 153) }
h2           { color: rgb(51, 0, 153) }
h3           { color: rgb(51, 0, 153) }
h4           { color: rgb(51, 0, 153) }
h5           { color: rgb(51, 0, 153) }
h6           { color: rgb(51, 0, 153) }

body         { 	font-family: Verdana, Arial, Helvetica;
		font-weight: normal; 
		font-style: normal }

code         { 	font-family: Courier;
		font-weight: normal; 
		font-style: normal }


h1           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h2           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h3           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h4           {  font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h5           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h6           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; }

ul           { list-style-image: url('ablbull1.gif') }
ul ul        { list-style-image: url('ablbull2.gif') }
ul ul ul     { list-style-image: url('ablbull3.gif') }


