h1           { color: rgb(51, 0, 153) }
h2           { color: rgb(51, 0, 153) }
h3           { color: rgb(51, 0, 153) }
h4           { color: rgb(51, 0, 153) }
h5           { color: rgb(51, 0, 153) }
h6           { color: rgb(51, 0, 153) }

body         { 	font-family: Verdana, Arial, Helvetica;
		font-weight: normal; 
		font-style: normal; 
        	font-size: 9pt }

code         { 	font-family: Courier;
		font-weight: normal; 
		font-style: normal; 
        	font-size: 10pt }


h1           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 
               	font-size: 24pt }

h2           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 
               	font-size: 18pt }

h3           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 
               	font-size: 14pt }

h4           {  font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 
               	font-size: 12pt }

h5           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 
               	font-size: 10pt }

h6           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; 

ul           { list-style-image: url('ablbull1.gif') }
ul ul        { list-style-image: url('ablbull2.gif') }
ul ul ul     { list-style-image: url('ablbull3.gif') }

