h1           { color: rgb(51, 0, 153) }
h2           { color: rgb(51, 0, 153) }
h3           { color: rgb(51, 0, 153) }
h4           { color: rgb(51, 0, 153) }
h5           { color: rgb(51, 0, 153) }
h6           { color: rgb(51, 0, 153) }

body         { 	font-family: Verdana, Arial, Helvetica;
		font-weight: normal; 
		font-style: normal }

h1           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h2           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h3           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h4           {  font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h5           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal }

h6           { 	font-family: Verdana, Arial, Helvetica; 
		font-weight: normal; 
		font-style: normal; }

body 	     {
		font-family: Tahoma;	 
		font-size: 0.8em;}

p.hrefname	{
		font-family: Verdana, Arial, Helvetica; 
		font-weight: bold; 
		font-size: 0.8em;
		font-style: normal; 
		margin-top: 0.5em; 
		margin-bottom: 0.1em;
		margin-left: 1em;
	}

p.hrefhref	{
		font-family: Courier; 
		font-weight: normal; 
		font-size: 0.5em;
		font-style: normal; 
		margin-top: 0.1em; margin-bottom: 1em;
		margin-left: 2em;
	}

p.attrname	{
		font-family: Verdana, Arial, Helvetica; 
		font-weight: bold; 
		font-size: 0.8em;
		font-style: normal; 
		margin-top: 0.5em; 
		margin-bottom: 0.1em;
		margin-left: 4em;
	}

p.attrhref	{
		font-family: Courier; 
		font-weight: normal; 
		font-size: 0.5em;
		font-style: normal; 
		margin-top: 0.1em; margin-bottom: 1em;
		margin-left: 5em;
	}

div.toc   {
		font-family: Verdana, Arial, Helvetica; 
		font-weight: normal;
		font-style: normal;
		font-size: 0.8em;
		margin-top: 0em; margin-bottom: 0em;
		background: #FFFFCC;
		}

p.dictionary {
		font-family: Verdana, Arial, Helvetica; 
		font-weight: bold;
		font-style: normal;
		margin-bottom: 0em;
		padding-left: 2em;	
}

div.dictionary_description {
		font-family: Verdana, Arial, Helvetica; 
		font-weight: normal;
		font-style: normal;
		margin-left: 4em;
		padding-left: 1em;
    		border: dashed;
	    	border-width: 0.1em;;
    		border-color: silver;		

}