/* $Id: docbook.css,v 1.1 2001/07/31 17:29:36 lubell Exp $ */

div.note	   { 
		     background-color: yellow ;
		     font-size: 80% ;
		   }

div.note h3	   {
		     background-color: yellow ;
		   }

img		   { border: none; }

body		   { 
		     margin: 5% ;
		     background: white; 
		     color: black; 
		   }

h1, h2, h3, h4, h5, h6 
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		     background-color: silver ;
		   }

tt, pre.screen, pre.programlisting
	       	   {
		     font-size: 110% ;
		   }
