/* $Id: express_model.css,v 1.1 2004/09/28 20:09:26 joshualubell Exp $ */

div.note	   { 
		     background-color: yellow ;
		     font-size: 80% ;
		   }

div.note h3	   {
		     background-color: yellow ;
		   }

img		   { border: none; }

body		   { 
		     margin: 5% ;
		     background: white; 
		     color: black; 
		   }

h1, h2, h3, h4, h5, h6 
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		     background-color: silver ;
		   }

div.toc
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		   }

tt, pre.screen, pre.programlisting
	       	   {
		     font-size: 110% ;
		   }
