/* $Id: express_model.css,v 1.3 2004/10/05 20:40:21 joshualubell Exp $ */

div.note	   { 
		     background-color: yellow ;
		     font-size: 80% ;
		   }

div.note h3	   {
		     background-color: yellow ;
		   }

img		   { border: none; }

body		   { 
		     margin: 5% ;
		     background: white; 
		     color: black; 
		   }

h1, h2, h3, h4, h5, h6 
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		     background-color: silver ;
		   }

div.toc, thead, p.pubdate
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		   }

td span.bold
		   { 
		     font-family: Arial, Helvetica, sans-serif ;
		   }

div.informaltable
		  {
		     padding-top: 1em; 
		     padding-bottom: 1em; 
		  }

tt, pre.screen, pre.programlisting
	       	   {
		     font-size: 110% ;
		   }
